* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d2232;
    /*background-color: #191E29;*/
}

header {
    font-size: 25px;
    padding: 50px;
    background-image: linear-gradient(#000000, #0d2232);
    /*background-color:#132D42;*/
    color: #848a96;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

header nav li a {
    color: #696E79;
    text-decoration: none;
}

section{
    width: 1280px;
    margin: 0 auto;
    
}

.articles {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1028px;
    width: 100%;
    
}

section .title {
    text-decoration: underline;
    color: #696E79;
    width: 1280px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    /*width: 30%;
    padding: 20px;
    background-image: linear-gradient(#0d2232, #091722, #0d2232);*/
}


#skin1,
#skin3,
#skin5 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#skin2,
#skin4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#skill1,
#skill3,
#skill5 {
    width: 15%;
    margin-top: 35px;
    margin-bottom: 35px;
}

#skill2,
#skill4 {
    width: 15%;
    margin-top: 35px;
    margin-bottom: 35px;
}

section .articles img {
    width: 45%;
    display: flex;
}